/*
Impulse Template
http://www.templatemo.com/tm-469-impulse
*/

body {
	background: #f8f8f8;
	color: #606060;
	font-family: 'Proxima', sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	text-align: center;
	vertical-align: middle;
}
@font-face {
	font-family: 'Proxima';
	src: url(../fonts/ProximaNova-Regular.otf);
}
@font-face {
	font-family: 'Proxima Bold';
	src: url(../fonts/ProximaNova-Bold.otf);
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Proxima Bold";
	font-weight: bold;
}
p {
	letter-spacing: 1px;
	line-height: 28px;
}
hr {
	border-color: #e0e0e0;
	margin: 0 auto 20px auto;
	width: 100px !important;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
.title {
	padding-bottom: 40px;
}
.title h2 {
	color: #202020;
	line-height: 20px;
	padding-bottom: 30px;
}
.title p {
	padding-top: 14px;
	padding-bottom: 30px;
}
.parallax-section {
	background-attachment: fixed !important;
	background-size: cover !important;
}
/* preloader section */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: none repeat scroll 0 0 #fff;
	background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-rotating-plane.sk-spinner {
	width: 40px;
	height: 40px;
	background-color: #eb5424;
	border-radius: 50%;
	-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
	animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@keyframes sk-rotatePlane {
0% {
-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
transform: perspective(120px) rotateX(0deg) rotateY(0deg);
}
50% {
-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
}
100% {
-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
}
}
/* home section */

#home h2 {
	letter-spacing: 2px;
}


/* navigation section */
.navbar-default {
	background: #fff;
	border: none;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
	margin: 0 !important;
}
.navbar-default .navbar-brand {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	line-height: 40px !important;
}
.navbar-default .navbar-nav li a {
	color: #606060	;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 40px;
}

.navbar-default .navbar-nav li a:hover{
	color:blue;
    
	
	
}
.navbar-default .navbar-nav li  .active{
	color:orangered;
	font-size: larger;
	
}

/*form control*/

label{
	width:35%;
	text-align: left;
}




@media (max-width:767px) {
.navbar-brand {
	padding-top: 6px;
}
}
@media (max-width:400px) {
#home h1 {
	font-size: 32px;
}
#home h2 {
	font-size: 22px;
}
#intro h2 {
	font-size: 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 60px;
}
}

